.header{
  height: 150px;
  background-image: linear-gradient(to right, rgb(21, 87, 148) , rgb(19, 33, 97));
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h1{
  background-color: white;
  padding-left: 2%;  
}
.nav{
  display: flex;
}
.nav p,.nav a{
  color: white;
  margin: 5px;

}


/* @media screen and (min-width: 900px) {
  article {
    
  }
} */